.odd {
    background-color: rgb(253, 165, 165);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.odd-important {
    font-size: 24px;
}

#two {
    color:rgb(0, 0, 255);
    font-size: 36px;
}

#four {
    background-color: rgb(152, 249, 152);
    font-size: 24px;
    font-weight: bold;
}